#folder{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 200px 40px;
}
.header{
    background-color: rgb(177, 150, 116);
}
.menu{
    background-color: rgb(197, 169, 133)
}
.content{
    background-color: rgb(119, 133, 160);
}
.footer{
    background-color: rgb(70, 108, 141);
}
