body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    background: rgb(102, 65, 136);
    border-radius: 12px;
    width: 130px;
    text-align: center;
}
.item img{
    width: 130px;
    border-radius: 5px;
    object-fit: cover;
}
.container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}
